@import url('https://fonts.googleapis.com/css2?family=Sora:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Initially hidden */
  height: 100vh;
  width: 80%;
  background-color: #F9FAFB;
  transition: all 0.3s ease-in-out; 
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nav-menu.show {
  left: 0;
}

.nav-menu.hide {
  left: -100%;
}
